<div class="row">
  <div class="col-7">
    <div>
      {{#each tweets}}
      <div class="card" style="margin: 20px 0;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{this.User.avatar}}" class="card-img" alt="..." style="width: 150px; height: 150px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                <a href="/users/{{this.UserId}}/tweets">
                  {{this.User.name}}
                </a>
              </h5>
              <p class="card-text">{{this.description}}</p>
              <p class="card-text"><small class="text-muted">{{this.createdAt}}</small></p>

              <div style="display: flex;">
                <a href="/tweets/{{this.id}}/replies">
                  <button type="submit" class="btn btn-link">Reply ({{this.Replies.length}})</button>
                </a>
                <button class="btn btn-link">Like ({{this.Likes.length}})</button>
                <form action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                  <button type="submit" class="btn btn-link">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="col-5">
  </div>
</div>

